<link href="//fonts.googleapis.com/css?family=Josefin+Slab:100italic,100,300italic,300,400italic,400,600italic,600,700italic,700" rel="stylesheet" type="text/css">

<div class="container" style="margin-top: 200px; text-align: center;">
  <h1>SUCCESS!</h1>
  <h2><%= @access_token %></h1>
</div>

<style>
  body {
    background-color: #1BCACD;
    font-family: 'Josefin Slab', 'Arial';
  }

  h2 {
    font-size: 40px;
    font-weight: 100;
  }

  h1 {
    font-size: 190px;
    color: white;
  }

  textarea {
    width: 100%;
    font-size: 14px;
    height: 100px;
  }
</style>